.n-back_help_container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.n-back_help_container .help_masking {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.3);
}
.n-back_help_container .help_info_container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 15rem;
  height: 13.25rem;
  border-radius: 0.75rem;
  overflow: hidden;
}
.n-back_help_container .help_info_container .help_header {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background: #19B4A2;
}
.n-back_help_container .help_info_container .help_header i {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 1.5rem;
}
.n-back_help_container .help_info_container .help_info {
  height: 10.75rem;
  width: 100%;
  background: white;
  color: #19B4A2;
}
.n-back_help_container .help_info_container .help_info p {
  position: absolute;
  margin: 0.25rem 0.25rem;
}
.hide {
  display: none;
}
