.n-back_result_container {
  position: absolute;
  top: 2.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #faf7f9;
}
.n-back_result_container .result_masking {
  position: absolute;
  top: -2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: white;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  transition: opacity 1s ease,bottom 0.5s ease;
}
.n-back_result_container .result_masking div {
  color: #19B4A2;
  font-size: 1.75rem;
  animation: enterAnime 1.5s  ease forwards;
}
@keyframes enterAnime {
  0% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.5);
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-250px);
    opacity: 0;
  }
}
.n-back_result_container .result_detail {
  position: relative;
  margin: 1rem 0.5rem;
  border: 0.05rem solid rgba(100, 100, 100, 0.15);
  border-radius: 0.125rem;
  height: 7.5rem;
}
.n-back_result_container .result_detail .result_explanation {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  border: 0.025rem solid rgba(100, 100, 100, 0.15);
}
.n-back_result_container .result_detail .result_explanation .iconfont {
  color: #19B4A2;
  font-size: 1rem;
}
.n-back_result_container .result_detail .result_share {
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  border: 0.025rem solid rgba(100, 100, 100, 0.15);
}
.n-back_result_container .result_detail .result_share .iconfont {
  color: #19B4A2;
  font-size: 1rem;
}
.n-back_result_container .result_detail .result_list:before,
.n-back_result_container .result_detail .result_list:after {
  content: " ";
  display: table;
}
.n-back_result_container .result_detail .result_list:after {
  clear: both;
}
.n-back_result_container .result_detail .result_list .result_item {
  float: left;
  width: 7rem;
  margin-left: 0.375rem;
}
.n-back_result_container .result_detail .result_list .result_correct .iconfont {
  color: #19B4A2;
  font-size: 3rem;
}
.n-back_result_container .result_detail .result_list .result_correct span {
  font-size: 1.5rem;
  color: #19B4A2;
  vertical-align: 0.5rem;
}
.n-back_result_container .result_detail .result_list .result_mistake {
  position: relative;
}
.n-back_result_container .result_detail .result_list .result_mistake .iconfont {
  color: #19B4A2;
}
.n-back_result_container .result_detail .result_list .result_mistake .icon-eye {
  margin-left: 0.25rem;
  font-size: 2.25rem;
}
.n-back_result_container .result_detail .result_list .result_mistake .icon-ear {
  margin-left: 0.25rem;
  font-size: 2.25rem;
}
.n-back_result_container .result_detail .result_list .result_mistake span {
  font-size: 1rem;
  vertical-align: 0.5rem;
  margin-left: 0.5rem;
  color: #ffd208;
}
.n-back_result_container .result_detail .result_list .result_mistake .eye {
  position: absolute;
  font-size: 1rem;
  left: 1.5rem;
  bottom: 0.1rem;
  background: white;
  border: 1px solid white;
  border-radius: 50% 50%;
}
.n-back_result_container .result_detail .result_list .result_mistake .ear {
  position: absolute;
  font-size: 1rem;
  left: 1.2rem;
  bottom: 0.1rem;
  background: white;
  border: 1px solid white;
  border-radius: 50% 50%;
}
.n-back_result_container .play_again_container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 16.5rem;
}
.n-back_result_container .play_again_container .n-back_start_container {
  top: 0;
}
.n-back_result_container .play_again_container .n-back_start_container .play_info_container {
  margin-top: 0;
}
.n-back_result_container .play_again_container .n-back_start_container .play_info_container .play_info {
  width: 6.75rem;
  height: 6.75rem;
}
.n-back_result_container .play_again_container .n-back_start_container .play_info_container .play_info .play_level {
  display: none;
}
.n-back_result_container .play_again_container .n-back_start_container .play_info_container .play_info .play_times {
  display: inline;
  position: static;
  font-size: 1.25rem;
  line-height: 6.75rem;
}
