
@import '../../../static/variate.less';
@import '../../../static/mixin/mixin.less';

.n-back_result_container{
  position: absolute;
  top:@HeaderHeight; // 自适应填满屏幕，所以开启了绝对定位
  bottom:0;
  left:0;
  right:0;
  background-color: rgb(250,247,249);
  .result_masking{
    position: absolute;
    top:-@HeaderHeight;left:0;right:0;bottom:0;
    z-index: 1;
    background:white;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    transition: opacity 1s ease,bottom 0.5s ease;
    div{
      color:@themeColor;
      font-size:70/@rem;
      // transition:transform 4s ease;
      // transform:translateY(-520/@rem);
       animation:enterAnime 1.5s  ease forwards;
    }
    @keyframes enterAnime{
      0%{
        transform:scaleX(1);
      }
      25%{
        transform:scaleX(1.5);
      }
      50%{
        transform: translateY(0);
        opacity: 1;
      }
      100%{
        transform: translateY(-250px);
        opacity: 0;
      }
    }
  }
  .result_detail{
    position: relative;
    margin:40/@rem 20/@rem;
    border:2/@rem solid @borderColor;
    border-radius: 5/@rem;
    height:300/@rem;
    .result_explanation{
      position: absolute;
      right:4/@rem;
      top:4/@rem;
      border:1/@rem solid @borderColor;
      .iconfont{
        color:@themeColor;
        font-size:40/@rem;
      }
    }
    .result_share{
      position: absolute;
      right:4/@rem;
      bottom:4/@rem;
      border:1/@rem solid @borderColor;
      .iconfont{
        color:@themeColor;
        font-size:40/@rem;
      }
    }
    .result_list{
      .clearfix();
      .result_item{
        float:left;
        width:280/@rem;
        margin-left:15/@rem;
      }
      .result_correct{
        .iconfont{
          color:@themeColor;
          font-size:120/@rem;
        }
        span{
          font-size:1.5rem;
          color:@themeColor;
          vertical-align: 0.5rem;
        }
      }
      .result_mistake{
        position: relative;
        .iconfont{
          color:@themeColor;
        }
        .icon-eye{
          margin-left:10/@rem;
          font-size:90/@rem;
        }
        .icon-ear{
          margin-left:10/@rem;
          font-size:90/@rem;
        }
        span{
          font-size:1rem;
          vertical-align: 0.5rem;
          margin-left:0.5rem;
          color:@localeColor;
        }
        .eye{
          position: absolute;
          font-size:1rem;
          left:1.5rem;
          bottom:0.1rem;
          background:white;
          border:1px solid white;
          border-radius: 50% 50%;
        }
        .ear{
          position: absolute;
          font-size:1rem;
          left:1.2rem;
          bottom:0.1rem;
          background:white;
          border:1px solid white;
          border-radius: 50% 50%;
        }
      }
    }
  }
  .play_again_container{
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:660/@rem;
    .n-back_start_container{
      top:0;
      .play_info_container{
        margin-top:0;
        .play_info{
          width:270/@rem;
          height:270/@rem;
          .play_level{
            display:none;
          }
          .play_times{
            display: inline;
            position:static;
            font-size:50/@rem;
            line-height:270/@rem;
          }
        }
      }
    }
  }
}